html{ 
    box-sizing: border-box;
} 

*,
*::before, 
*::after{ 
    display: flex;
    flex-direction: column;
} 

img{ 
    width: 200px; 
    height: auto;
} 

.header{ 
    display:flex;  
    height: 75px; 
    background-color: #879b87; 
    border: solid red; 
    justify-content: space-between; 
    flex-direction: row;
}  


