*,
*::before, 
*::after{ 
    display: flex;
    flex-direction: column; 
    padding: 0; 
    margin: 0;
} 

img{ 
    width: 200px; 
    height: auto; 
    margin: 0; 
    padding: 0; 
}   

button{ 
    width: 80px; 
    height: auto;
}

.header-logo{ 
    width: 80px; 
    height: auto; 
    mix-blend-mode: multiply;  
} 

.header{ 
    display:flex;  
    height: 75px; 
    background-color: #a4aaa496; 
    /*Box for logo and telephone*/
    border: solid red; 
    justify-content: space-between; 
    flex-direction: row; 
    padding: 0;  
    padding-right: 15px;
}  

.top-page{ 
    display: flex;  
    border: solid green;  
    /*Box for header,button and image*/
    background-color: #a4aaa496;
}

