html{ 
    box-sizing: border-box;
} 

*,
*::before, 
*::after{ 
    display: flex;
    flex-direction: column;
} 

img{ 
    width: 200px; 
    height: auto; 
    margin: 0; 
    padding: 0; 
}   

button{ 
    width: 80px; 
    height: auto;
}

.header-logo{ 
    width: 80px; 
    height: auto; 
    mix-blend-mode: multiply;  
} 

.header{ 
    display:flex;  
    height: 75px; 
    background-color: #a4aaa496; 
    border: solid red; 
    justify-content: space-between; 
    flex-direction: row; 
    padding: 0;  
    padding-right: 15px;
}  


